@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

@font-face {
   font-family: "Larsseit";
   src: url('../fonts/Larsseit-Regular.woff2') format('woff2'), url('../fonts/Larsseit-Regular.woff') format('woff');
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Larsseit";
   src: url('../fonts/Larsseit-Medium.woff2') format('woff2'), url('../fonts/Larsseit-Medium.woff') format('woff');
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Larsseit";
   src: url('../fonts/Larsseit-Bold.woff2') format('woff2'), url('../fonts/Larsseit-Bold.woff') format('woff');
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

.intro div {
   color: red;
}

.intro div p {               /* пробую комбінації та перезаписування  */
   font-family: "Roboto";
   font-weight: 900;
   color: black;
}
.tattoo p{
   color: green;
}
.tattoo  div p {
   color: purple;
}
.tattoo.bavovna-mozku.test p {
   color: aqua;
}
.test {
   font-size: 40px;
}
.test.text {
   color: coral;
}
.intro ~ * {
   color:brown;
   font-weight: 700;
}
.list p {
   color: red;
   font-size: 40px;
}